<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.webServer>

    <handlers>

      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>

    </handlers>

    <httpPlatform processPath="D:\home\python354x64\python.exe"

                  arguments="D:\home\site\wwwroot\webservice.py --port %HTTP_PLATFORM_PORT%"

                  stdoutLogEnabled="true"

                  stdoutLogFile="D:\home\site\wwwroot\logs\log_file2.log"

                  startupTimeLimit="60"

                  processesPerApplication="5">

      <environmentVariables>

        <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />

      </environmentVariables>

    </httpPlatform>

  </system.webServer>

</configuration>